* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

li {
    list-style: none;
}

.header-menu nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 8px;
    padding-bottom: 32px;
    padding-top: 32px;
    height: 60px;
    background-color: #724796;
}

.header-menu{
    display:flex;
    justify-content: flex-end;
    width: 100%;
}
.lista-menu li>a {
    color: #fff;
    font-size: 18px;
    text-decoration: inherit;
}
.principal {
    height: 100vh;
    display: flex;
    background-color: #EAEAEA;
}
.container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
}
.subcontainer-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.nome-completo {
    font-size: 36px;
    color: #ff4dbc;
    font-weight: 700;
    height: 45px;
}
.texto-sobre {
    font-size: 20px;
    line-height: 32 px;
}
.profissao {
    color: #c6b5d5;
    height: 60px;
}
.topico-principal{
    font-size: 36px;
    color:#ff4dbc;
}
.article-lista {
    display: flex;
    margin-top: 100 px;
    margin-bottom: 100px;
    margin-bottom: 200px;
    flex-direction: columm;
}
.section-lista{
    display: flex;
    margin-top: 100 px;
    margin-bottom: 100px;
    margin-bottom: 200px;
    flex-direction: columm;
}
.lista-item{
    padding: 32px;
}
.lista-item ul li {
    margin-bottom: 32px;
}
.lista-titulo{
    margin-bottom: 5px;
    font-size: 22px;
    color:#661e4b;
    font-weight: 700;
}
.lista-local {
    font-size: 18px;
    color: #2F80ED;
}
.lista-descricao{
    font-size: 18px;
    margin-top: 5px;
    line-height: 20px;
    color: #828282;
    font-weight: 300;
}
.wrapper-portfolio{
    background-color: #fff;
    display: flex;
    flex-direction: columm;
}
.formacao{
    background-color: #fff;
    display: flex;
    flex-direction: columm;
}
.projetos {
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
}
.container-footer {
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
}
.footer{
    background-color: #724796;
    height: 30vh;
    height: 550px;
    display: flex;
    align-items: center;
}
.estilo-icon {
    font-size: 32px;
    margin-right: 10px;
}
.links{
    text-decoration: none;
    color: white;
}
.lista-footer li{
    color: #ffff;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}